.details-header button{
    position: absolute;
    left: 38%;
    top: 1%;
    height: 38px;
    width: 100px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #ff9800, #ff5722);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.table-container{
    position: absolute;
    top: 30%;
    left: 10%;
    background: rgba(253, 253, 253, 0.393);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 30px;
}
.table-container th{
    color: aliceblue;
}

.table-container tr{
    /* background-color: #f0f0f03f; */
    position: relative;
    left: 35%;
    top: 10px;
}

.table-container input{
    height: 30px;

}

.submit-btn{
    background: linear-gradient(135deg, #ff9800, #ff5722);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}